/cocos2d-html5/.idea/.name
/cocos2d-html5/.idea/cocos.iml
/cocos2d-html5/.idea/encodings.xml
/cocos2d-html5/.idea/jsLibraryMappings.xml
/cocos2d-html5/.idea/libraries/cocos2d_Html5.xml
/cocos2d-html5/.idea/misc.xml
/cocos2d-html5/.idea/modules.xml
/cocos2d-html5/.idea/scopes/scope_settings.xml
/cocos2d-html5/.idea/vcs.xml
/cocos2d-html5/.idea/workspace.xml
/cocos2d-html5_i/.idea/.name
/cocos2d-html5_i/.idea/cocos2d-html5_i.iml
/cocos2d-html5_i/.idea/encodings.xml
/cocos2d-html5_i/.idea/jsLibraryMappings.xml
/cocos2d-html5_i/.idea/libraries/cocos2d_html5.xml
/cocos2d-html5_i/.idea/misc.xml
/cocos2d-html5_i/.idea/modules.xml
/cocos2d-html5_i/.idea/scopes/scope_settings.xml
/cocos2d-html5_i/.idea/vcs.xml
/cocos2d-html5_i/.idea/workspace.xml
